---
import {formatDate} from "../utils/formatDate";
import {dealLabel} from "../utils/dealLabel";
import {t} from '../i18n/utils'
const {title, date, slug, category, tags, sticky = false, draft = false} = Astro.props
---

<div class="text-skin-base">
  <!-- title -->
  <div class="flex items-center">
    {sticky > 0 &&
      <div class="post-sticky select-none">{t('home.sticky')}</div>}
    <a class="flex text-xl underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500 font-bold" href={slug}>
      {title}
    </a>
  </div>

  <div class="flex flex-wrap items-center my-2 space-x-2">
    <!-- date -->
    {
      date && (
        <i class="ri-calendar-2-fill"/>
        <div>{formatDate(date)}</div>
      )
    }

    <!-- draft -->
    {
      draft &&
      <>
        <div class="divider-vertical"/>
        <i class="ri-git-pr-draft-line"/>
        <div>{t('title.draft')}</div>
      </>
    }

    <!-- category -->
    {
      category && dealLabel(category).filter(item => item !== 'uncategorized').map((categoryName) => (
        <div class="divider-vertical"/>
        <i class="ri-folder-3-line"/>
        <a href={"/category/" + categoryName} class="text-wrap break-all hover:text-skin-active">{categoryName}</a>
      ))
    }

    <!-- tag -->
    {
      tags &&
      <div class="divider-vertical"/>
      <i class="ri-price-tag-3-line"/>
      <div>
      {
        dealLabel(tags).map((tagName, index) => (
        <a href={"/tags/" + tagName} class="text-wrap break-all hover:text-skin-active">{tagName}</a>
        <span>{index < dealLabel(tags).length - 1 && ', '}</span>
        <span></span>

        <div class="tooltip">{(dealLabel(tags).length > 4 && index === 3 )&& '...'}
          <span class="tooltiptext">{dealLabel(tags).slice(4,-1)}</span>
        </div>
        )).slice(0,4)
      }
      </div>
    }
  </div>
</div>

<style>
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  @apply flex flex-col py-1 px-2;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  margin-left: 12px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
